<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test Application</title>
  <link rel="stylesheet" th:href="@{/resources/css/template.css}" />
  <link rel="stylesheet" th:href="@{/resources/css/home.css}" />
  <link rel="icon" type="image/png" th:href="@{/resources/icons/icon.png}" />

</head>

<body>
  <header th:replace="../fragments/template :: header"></header>

  <main>
	<!--<section class="hero">
	  <div class="content">
		<h2>Explore your competences</h2>
		<p>A modern tool to create and manage your tests fast and efficiently.</p>
		<button class="cta-btn">Start Now</button>
	  </div>
	</section>-->
  </main>

  <footer th:replace="../fragments/template :: footer"></footer>
</body>
</html>
