.hero {
    width: 100%;
    background: var(--hero-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    margin: 0;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .cta-btn {
    background: var(--button-hover);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}

.hero .cta-btn:hover {
    background: var(--text-color);
    color: var(--background-color);
}